<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Грузинская кухня</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base/css/style.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.min.css">
</head>
<body>
<header id="Cap">
    <div class="container-fluid cap">
        <div class="row">
            <div class="col-lg-12 menu">
                <div class="menu_list">
                    <ul class="menu_list-ul" >
                        <li class="accountInfo">
                            <p>Менеджер:"Nickname"</p>
                        </li>
                        <li>
                            <div class="main-logo" style="margin-left:-120px;">
                                <a href="\">
                                    <img src="base/img/satsivi-iz-kuritsy-gruzinskaya-kuhnya.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <ul class="menu-last">
                                <li class="exitButton">
                                    <a href="authorization">Выход</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="ActiveOrders">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="activeOrders">
                    <div>
                        <p>№</p>
                    </div>
                    <div>
                        <p>Доступные заказы</p>
                    </div>
                    <div>
                        <p>Статус</p>
                    </div>
                    <div>
                        <p>Курьер</p>
                    </div>
                </div>
                <div class="activeOrdersChild">
                    <div>
                        <p>1</p>
                    </div>
                    <div>
                        <p>Доступные заказы</p>
                    </div>
                    <div class="courierMenuChildSelect">
                        <p>
                            <select name="statusCourier">
                                <option value="s1" selected>Ожидает</option>
                                <option value="s2">Доставлен</option>
                            </select>
                        </p>
                    </div>
                    <div class="courierMenuChildSelect">
                        <p>
                            <select name="statusCourier">
                                <option value="s1" selected>Имя Фамилия №1</option>
                                <option value="s2">Имя Фамилия №1</option>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="activeOrdersChild">
                    <div>
                        <p>1</p>
                    </div>
                    <div>
                        <p>Доступные заказы</p>
                    </div>
                    <div class="courierMenuChildSelect">
                        <p>
                            <select name="statusCourier">
                                <option value="s1" selected>Ожидает</option>
                                <option value="s2">Доставлен</option>
                            </select>
                        </p>
                    </div>
                    <div class="courierMenuChildSelect">
                        <p>
                            <select name="statusCourier">
                                <option value="s1" selected>Имя Фамилия №1</option>
                                <option value="s2">Имя Фамилия №1</option>
                                <option value="s3">Имя Фамилия №1</option>
                                <option value="s4">Имя Фамилия №1</option>
                                <option value="s5">Имя Фамилия №1</option>
                                <option value="s6">Имя Фамилия №1</option>
                                <option value="s7">Имя Фамилия №1</option>
                            </select>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>