<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Грузинская кухня</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base/css/style.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.min.css">
</head>
<body>
<header id="Cap">
    <div class="container-fluid cap">
        <div class="row">
            <div class="col-lg-12 menu">
                <div class="menu_list">
                    <ul class="menu_list-ul">
                        <li class="menu_list_active">
                            <a href="#" class="menu_list_main">Меню</a>
                            <div class="menu-block">
                                <p class="menu-block-list">
                                    <a href="#">Первые блюда</a>
                                    <a href="#">Вторые блюда</a>
                                    <a href="#">Шашлыки</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="main-logo">
                                <a href="#">
                                    <img src="base/img/satsivi-iz-kuritsy-gruzinskaya-kuhnya.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="CartMain">
    <div class="container">
        <div class="row cartInfo">
            <div class="col-lg-12 cartMain">
                <h2>
                    Ваш заказ:
                </h2>
            </div>
            <form name="offerForm">
            {% for food in foods %}
            <div class="col-lg-4 cartOrder">
                <p>
                    {% dump(food) %}
                    {{ food.id }}. {{ food.name }}
                </p>
                <p>
                    <input type="number" name="N" value="1" min="1" required>
                </p>
                <p>
                    <a href="/deleteFoodFromStash?id={{ food.id }}">
                        Удалить
                    </a>
                </p>
            </div>
            {% endfor %}
            <div class="col-lg-12 cartOrderButton">
                <a href="#" class="js-modal1 fancybox-inline cartOrderButtonActive">Оформить заказ</a>
                <div id="filterOrderButton"></div>
                <div id="modalOrderButton">
                    <form id="OrderButton">
                        <div class="orderButtonInfo">
                            <input type="text" placeholder="ФИО" required>
                            <input type="tel" placeholder="Номер телефона" required>
                            <input type="text" placeholder="Адрес доставки" required>
                            <div class="orderButtonInfoCheck">
                                <input type="checkbox" required>
                                <p>
                                    Даю согласие на обработку персональных данных
                                </p>
                            </div>
                            <div class="orderButtonInfoCheckButtons">
                                <input type="submit" name="addOffer" formaction="/addOffer" value="Подтвердить заказ">
                                <input type="submit" name="cancelOffer" formaction="/cancelOffer" value="Отменить заказ">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>
<footer id="Footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 footer">
                <div class="footerLogo">
                    <a href="\">
                        <img src="base/img/satsivi-iz-kuritsy-gruzinskaya-kuhnya.png" alt="">
                    </a>
                </div>
                <div class="aboutUs">
                    <a href="\">О нас</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="base/js/script.js" type="text/javascript"></script>
</body>
</html>