<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Грузинская кухня</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base/css/style.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.min.css">
</head>
<body>
<header id="Cap">
    <div class="container-fluid cap">
        <div class="row">
            <div class="col-lg-12 menu">
                <div class="menu_list">
                    <ul class="menu_list-ul" >
                        <li class="accountInfo">
                            <p>Менеджер:"Nickname"</p>
                        </li>
                        <li>
                            <div class="main-logo" style="margin-left:-120px;">
                                <a href="\">
                                    <img src="base/img/satsivi-iz-kuritsy-gruzinskaya-kuhnya.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <ul class="menu-last">
                                <li class="exitButton">
                                    <a href="authorization">Выход</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="FoodList">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 food">
                <div class="foodList">
                    <div class="foodListContainer">
                        <p>№</p>
                    </div>
                    <div class="foodListContainer">
                        <p>Логин</p>
                    </div>
                    <div class="foodListContainer">
                        <p>Пароль</p>
                    </div>
                    <div class="foodListContainer">
                        <p>ФИО</p>
                    </div>
                </div>
                <form action="/editManagerList/update" method="post">
                    <div class="foodList">
                        <div class="foodListContainer">
                            <p><input name="id" type="text" value="{{ manager.id }}" readonly="true"></p>
                        </div>
                        <div class="foodListContainer">
                            <p><input name="login" type="text" value="{{ manager.login }}"></p>
                        </div>
                        <div class="foodListContainer">
                            <p><input name="password" type="text" value="{{ manager.password }}" ></p>
                        </div>
                        <div class="foodListContainer">
                            <p><input name="name" type="text" value="{{ manager.name }}"></p>
                        </div>

                        <div class="managersButton">
                            <input type="submit" name="submit" value="Редактировать менеджера">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="base/js/script.js" type="text/javascript"></script>
</body>
</html>