<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Грузинская кухня</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base/css/style.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.min.css">
</head>
<body>
<header id="Cap">
    <div class="headerAutorization">

    </div>
</header>
<section id="Login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 login">
                <div>
                    <img src="base/img/satsivi-iz-kuritsy-gruzinskaya-kuhnya.png" alt="">
                </div>
                <div>
                    <input type="login" placeholder="Введите ваш логин">
                </div>
                <div>
                    <input type="password" placeholder="Введите ваш пароль">
                </div>
                <div>
                    <a href="#">Войти</a>
                </div>
                <div>
                    <a href="managerPA">Переход к странице менеджера</a>
                </div>
                <div>
                    <a href="courier">Переход к странице курьера</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="Footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 footer">
                <div class="footerLogo">
                    <a href="\">
                        <img src="base/img/satsivi-iz-kuritsy-gruzinskaya-kuhnya.png" alt="">
                    </a>
                </div>
                <div class="aboutUs">
                    <a href="\">О нас</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="base/js/script.js" type="text/javascript"></script>
</body>
</html>